---
layout: default
---

<div class="row">
	<section class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h1 class="page-header">Hello, <br> I'm Jim Taylor</h1>
		<p class="lead">I'm a self-motivated, creative and solution focused Senior Web Development Manager from Liverpool.</p>
		<h2>Latest Blog Posts</h2>
		<ul class="posts-row list-unstyled" itemscope itemType="http://schema.org/Blog">
		{% for post in site.posts limit: 5 %}
			{% include post/post-row.html size='posts-larger' %}
		{% endfor %}
		</ul>
		<hr>
		<h2>Want to know more?</h2>
		<div class="row">
			<div class="col-md-6">				
				<h3>Developer at heart</h3>				
				<p>I have over 8 years digital agency experience in producing high quality, engaging websites.</p>
				<p>I joined <a href="http://www.ph-creative.com" target="_blank">Ph.Creative</a> in April 2008 as a Front-end Developer. I then became Senior Front-end Developer 4 years later. Since April 2014 I've been responsible for leading the web development team.</p>
				<p>In my first Front-end Developer role I spent 5 years at <a href="http://www.rapid.co.uk" target="_blank">Rapid Technologies</a>. As their sole web designer and developer I maintained and evolved their company website.</p>
				<p>My experience spans many disciplines working alongside Back-end Developers, Designer, UX/UI Designers, Project Managers. My main passion is in Front-end Development. My focus is in delivering websites and leading a great team to deliver client success.</p>
			</div>
			<div class="col-md-6">				
				<h3>Home life</h3>
				<p>When I'm not living the fast pace of agency life I spend all my time with my other half and Son. Rachel and I have been together for 16 years, married in 2011 and had our first child in 2012 with another one on the way!</p>
				<h3>Everyone needs a hobby</h3>
				<p>I'm a Liverpool FC supporter and until recently I managed a Sunday League Football Club for 6 years.</p>
				<p>I played Lead Guitar in rock/indie band called '<a href="https://soundcloud.com/user-466017660/sets/the-boot-estate" target="_blank">Iconoclast</a>' for about 8 years.</p>
				<p>I love <a href="https://letterboxd.com/jamesicon/films/" target="_blank">watching films</a>, having a few beers at the weekend and worshipping the sunshine.</p>
			</div>			
	</section>
</div>