---
layout: default
---

<div class="row">
	<section class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h1 class="page-header">Hello, <br> I'm Jim Taylor</h1>
		<p class="lead">I'm a self-motivated, creative and solution focused Senior Web Development Manager from Liverpool.</p>
		<p>I have over 8 years digital agency experience in producing high quality, engaging websites. <br><a href="/about/">More about me...</a></p>
		<hr>
		<h2 class="blog-list-header">Latest Blog Posts</h2>
		<ul class="posts-row list-unstyled" itemscope itemType="http://schema.org/Blog">
		{% for post in site.posts limit: 6 %}
			{% include post/post-row.html size='posts-larger' %}
		{% endfor %}
		</ul>
		<p class="text-center"><a href="/posts/">More blog posts</a></p>	
	</section>
</div>