/* Table of Contents
==================================================
    
    #share list
   
   ==================================================
*/

.share-article {
	padding: 20px 0;
}

/* ==========================================================================
#share list
========================================================================== */

.list-share-icons {
	li {
		display: inline-block;
		margin-left: 5px;

		&:first-child {
			margin-left: 0;
		}

		a {
			font-size: 26px;
		}
	}
}