/* Table of Contents
==================================================
    
    #share list
   
   ==================================================
*/

/* ==========================================================================
#share list
========================================================================== */

.list-share-icons {
	li {
		display: inline-block;
		margin-left: 15px;

		&:first-child {
			margin-left: 0;
		}
	}
}