/* Table of Contents
==================================================
    
    #sub nav
   
   ==================================================
*/

/* ==========================================================================
#sub nav
========================================================================== */
.sub-nav {
	.nav {
		li {
			margin-top: 0;

			a {
				padding: 3px 0;		
			}

			&.active > a {
				color:$link-hover-color;
				background: $gray-lighter;				
			}

			ul li {
				padding-left: 25px;
			}
		}
	}
}