/* Table of Contents
==================================================
    
    #tags
   
   ==================================================
*/

/* ==========================================================================
#tags
========================================================================== */
.widget-tags {
	ul {
		margin-top:-10px;
		margin-bottom: 0;
		li {
			display: inline-block;
			margin-top: 10px; 
			margin-right: 5px; 
		}
	}
}