<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <hr>
        <ul class='footer-social list-unstyled list-inline'>
          <li><a href="mailto:me@iamjimtaylor.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
          <li><a href="https://twitter.com/{{ site.handle }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <!--<li><a href="#"><a href="#">RSS</a></li>-->          
          <li><a href="https://www.facebook.com/{{ site.handle }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://instagram.com/{{ site.handle }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://github.com/{{ site.handle }}" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/{{ site.handle }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>