<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul class='social list-unstyled'>
          <li><a href="mailto:me@iamjimtaylor.com">Email</a></li>
          <li><a href="https://twitter.com/iamjimtaylor">Twitter</a></li>
          <!--<li><a href="#"><a href="#">RSS</a></li>-->          
          <li><a href="https://www.facebook.com/iamjimtaylor">Facebook</a></li>
          <li><a href="https://instagram.com/iamjimtaylor">Instagram</a></li>
          <li><a href="https://github.com/iamjimtaylor">GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
