/* ==========================================================================
#breadcrumb
========================================================================== */
.breadcrumb {
	display:none;
	@media (min-width: $screen-sm) {display:block;}
	margin:0 0 24px;
	padding:0;	
	list-style: none;
	a {
		color: $text-color;
		text-decoration: underline;
		&:hover {
			color:$breadcrumb-active-color;
		}
	}
	li {
		display: inline-block;
		position: relative;
		line-height: 1;
		padding-right: 7px;

		+ li {
			padding-left: 15px;

			&:before {
				@include fa-pseudo-before();			
			}	
		}	
	}
	> .active {
	    color: $breadcrumb-active-color;
	  }
}