/* ==========================================================================
#breadcrumb
========================================================================== */
ol.breadcrumb {
	display:none;
	@media (min-width: $screen-sm) {display:block;}
	margin:0 0 24px;
	padding:0;	
	a {
		color: $text-color;
		text-decoration: underline;
		&:hover {
			color:$link-color;
		}
	}
	> li + li::before {
		color:$text-color;
	}
}