/* Table of Contents
==================================================
    
    #Common Footer
    #Footer Newsletter
    #Footer Links Section
    #Footer Social Sharing
    #Footer Bottom
   
   ==================================================
*/

/* ==========================================================================
#Common Footer
========================================================================== */
.footer {
	background: #eee;
	padding-top: 30px;
	a {
		word-break: break-word;
	}
}

/* ==========================================================================
#Footer Newsletter
========================================================================== */
.footer-newsletter {
	.horizontal-form {
		.btn {
			@media (min-width: $screen-sm) {
				margin-top: 28px;
			}
		}
	}
}

/* ==========================================================================
#Footer Links Section
========================================================================== */

.footer-links-section {
	padding: 24px 0;
	
	.footer-links {		
		li {
			list-style: none;
			padding: 6px 0;
			border-bottom: 1px solid #525252;
			
			&:first-child {
				padding-top: 0;
			}
		}
	}
	
	.twitter-follow {
		font-size: 12px;
		position: absolute;
		top: 30px;
		right: 15px;
		text-decoration: underline;

		@media (min-width: $screen-md) {
			top: 1px;
		}
	}
	
	.latest-tweets {
		padding: 0;
		margin: 0;
		list-style: none;
		
		li {
			margin-bottom: 18px;
			padding-right: 10px;

			@media (min-width: $screen-xs) and (max-width:$screen-md) {
				width: 50%;
				display: inline-block;
				float: left;
			}
			
			&:last-child {
				margin-bottom: 0;
			}
		}
		
		p {
			color: #525252;
			
			a {
				text-decoration: underline;
				color: #525252;
			}
			
			i {
				font-size: 18px;
				color: #525252;												
			}
			
			&.twitter-controls {
				
				a {
					color: #525252;
					padding: 0 20px;
					
					&:first-child {
						padding-left: 0;
					}
					
					&:last-child {
						padding-right: 0;
					}
				}
				
				i {
					font-size: 18px;
					color: #525252;												
				}
			}
		}
		
		.tweet-time {
			font-size: 12px;
		}
	}
}

/* ==========================================================================
#Footer Social Sharing
========================================================================== */

.footer-social {	
	text-align: center;
	padding: 18px 0;				
}

/* ==========================================================================
#Footer Bottom
========================================================================== */

.footer-bottom {
	background: #383838;
	color: #fff;
	text-align: center;
	padding: 24px 0;
	font-size: 12px;	
	
	@media (min-width: $screen-sm) {
		text-align: left;
	}
	
	p {
		font-size: 12px;
	}
	
	.list-inline {
		margin-bottom: 12px;
		
		> li {
			padding-left: 6px;
			padding-right: 10px;
			border-right: 1px solid #fff;
			
			&:last-child {
				border-right: 0;
			}
		}
	}
	
	a {
		color: #fff;
	}
}