/* ==========================================================================
#pagination
========================================================================== */
.pagination {
	margin:0;
}

/* ==========================================================================
#pager
========================================================================== */
.pager {
	padding:0;
	margin:20px 0;
}