<!-- Begin AWeber sign up form -->
<form method="post" class="af-form-wrapper" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl">
  <style>
    .aweberHForm { font-family: 'helvetica', arial, sans-serif; font-size: 12px; color: #FFFFFF; background: #2FABE1; margin: 20px auto; padding: 35px 28px; width: 100%; max-width: 400px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; line-height: 1.5; }
    .aweberHForm * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; box-shadow: none; margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
    .aweberHForm #aweberHeadline { margin: 0 0 21px; }
    .aweberHForm #aweberHeadline h1 { text-align: left; margin: 0 0 14px; padding: 0; font-size: 21px; }
    .aweberHForm #aweberHeadline p { font-size: 14px; }
    .aweberHForm input { font-size: 14px; margin: 0; border: 0; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }
    .aweberHForm input[type="submit"] { background-position: center !important; width: 100%; padding: 10px; cursor: pointer; background: #fce917; color: #4a4a4a; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; transition-duration: .1s; }
    .aweberHForm input[type="submit"]:hover { background: #f0d30e; cursor: pointer; }
    .aweberHForm input[type="email"], .aweberHForm input[type="text"] { background-position: center !important; border: 1px solid #1e9bd1; border-radius: 3px; padding: 10px; margin-bottom: 10px; }
    [class*='aweberHFormCol-'] { padding: 0; width: 100%; }
    .af-textWrap input { width: 100% !important; }
    #aweberHFormFooter { text-align: center; margin-top: 21px; font-size: 12px; }
    #aweberHFormFooter a { text-decoration: none; color: #dbf1fb; transition-duration: .15s; cursor: pointer; }
    #aweberHFormFooter a:hover { color: white; }
    #aweberHFormFooter a strong {font-weight: bold; }
  </style>

  <div style="display: none">
    <input type=hidden name="unit" value="affaweber7">
    <input type=hidden name="misc" value="?506532">
    <input type=hidden name="redirect" value="http://www.aweber.com/thankyou.htm?id=506532&utm_source=advocate&utm_medium=signup&utm_campaign=TDaff&utm_content=sales-v">
    <input type="hidden" name="meta_adtracking" value="aff_lead">
    <input type="hidden" name="listname" value="affaweber7">
  </div>

  <div class="af-form aweberHForm">
    <div class="aweberHFormGrid" id="aweberHeadline">
      <div class="aweberHFormCol-1-1">
        <h1 align="center" style="">Ready to grow your business with email?</h1>
        <p>Get a glimpse of how sending emails with AWeber can help you connect with customers and grow your business when you sign up for our behind-the-scenes email series.</p>
      </div>
    </div>

    <div class="aweberHFormGrid">
      <div class="aweberHFormCol-2-5 aweberHForm-headline-inputs">
        <div class="af-textWrap">
          <input id="awf_field-78323082" type="text" placeholder="Name" name="name" class="text" onfocus="if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value=''; }" tabindex="500">
        </div>
        <div class="af-clear"></div>
      </div>

      <div class="aweberHFormCol-2-5 aweberHForm-headline-inputs">
        <div class="af-textWrap">
          <input class="text" id="awf_field-78323083" type="email" placeholder="Email Address" name="email" tabindex="501" onfocus="if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value=''; }">
        </div>
        <div class="af-clear"></div>
      </div>

      <div class="aweberHFormCol-1-5">
        <input name="submit" class="submit" type="submit" value="Get your intro to email with AWeber" id="submitButton" tabindex="502">
        <div class="af-clear"></div>
      </div>
    </div>

    <div class="aweberHFormGrid">
      <div class="aweberHForm-1-1" id="aweberHFormFooter">
        <p>
          <a href="https://www.aweber.com" title="AWeber Email Marketing" target="_blank" class="aweberFooterLink" rel="nofollow">Powered by <strong>AWeber Email Marketing</strong></a>
        </p>
        <div class="af-clear"></div>
      </div>
    </div>
  </div>

  <div style="display: none">
    <img src="https://forms.aweber.com/form/displays.htm?id=jMxMzCxsbEzMzA==" alt="">
  </div>
</form>
<!-- End AWeber sign up form -->
    
