
	<li itemscope="itemscope" itemtype="http://schema.org/BlogPosting">

		<meta itemprop="name headline" content="'{{ post.title }}'">
        <meta itemprop="dateModified" content="{{ post.date | date: "%-d/%b/%Y" }}">

		<h3><a class="posts-link {{ include.size }}" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" itemprop="headline">{{ post.title }}</a></h3>
		
		<div class="post-meta"><small>
			<time datetime="{{ post.date | date_to_xmlschema }}" class="posts-date">
				{% assign d = post.date | date: "%-d"  %}
				{% case d %}
				{% when '1' or '21' or '31' %}{{ d }}st
				{% when '2' or '22' %}{{ d }}nd
				{% when '3' or '23' %}{{ d }}rd
				{% else %}{{ d }}th
				{% endcase %}
				{{ post.date | date: "%B" }} 
				{{ post.date | date: "%Y" }}
			</time>
		</small></div>

		{% if post.image_url %}<a class="image" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
            <span itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
            	<img alt="{{ post.image_alt }}" class="img-responsive" width="{{ post.image_width }}" height="{{ post.image_height }}" itemprop="contentUrl" src="{{ post.image_url | prepend: site.url }}">
            	<link href="{{ post.image_url | prepend: site.url }}" itemprop="url">
            	<meta content="{{ post.image_width }}" itemprop="width">
            	<meta content="{{ post.image_height }}" itemprop="height">
            </span>
        </a>{% endif %}

    	<p itemprop="description">{{ post.excerpt }} 
    	<a class="btn btn-default" href="{{ post.url | prepend: site.baseurl }}" rel="" title="Read more">Read more...</a></p>
    </li>
  