<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include head.html %}
	<body>
		<a class="sr-only" href="#content">Skip to content</a>
	{% include header.html %}
	<div class="container" id="content">
	    {{ content }}
	</div>
	{% include footer.html %}
	<a href="/sitemap.html" class="hide">Sitemap</a>
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-75495129-1','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <script id="dsq-count-scr" src="//iamjimtaylor.disqus.com/count.js" async></script>
	</body>
</html>