/* Table of Contents
==================================================
    
    #blog detail
   
   ==================================================
*/

.blog-list-header {
	margin-bottom: 0px;
}

/* ==========================================================================
#blog detail 
========================================================================== */

.posts-row {
	li {
		h3 {
			margin-bottom: 0px;
			a.posts-link {
				transition: 0.5s;
				&:hover {
					margin-left: 0.1em;
				}
			}
			
		}
		.image {
			margin: 10px 0px;
			display: block;
		}

		p { 
			margin-bottom: 0px;
		}
		.btn-default {
			font-size: 14px;
		}
		padding: 20px 0;
		border-bottom: 1px dashed #373b4e;
	}
}

.post {
	.post-header {
		text-align: center;
		padding-bottom: 20px;
	}
	figure {
		img { 
			max-width: 100%;
			height: auto !important;
			margin-bottom: 10px;
		}
		figcaption {
			margin-bottom: 20px;
			font-style: italic;
			font-size: 80%;
		}
	}
}
