/* Table of Contents
==================================================
    
    #landing form
   
   ==================================================
*/

/* ==========================================================================
#landing form
========================================================================== */
.landing-form {
	background: rgba(0,0,0,0.5);
	padding: 15px;
	color: #fff;
}