/* Table of Contents
==================================================
    
    #search-results
   
   ==================================================
*/

/* ==========================================================================
#search-results
========================================================================== */

.search-results {
	
	li {
		margin-bottom: 18px;
		
		&:last-child {
			margin-bottom: 0;
		}
		
		.url {
			margin-bottom: 18px;
		}
	}
}